# Variables
This is a Container of data. It stores values in a variable. This helps python to remember as against just executing a value.

In [18]:
#ALLOWED ✅ 
# Rules for naming variables
#* Must start with a letter (A-Z)
# * Can contain letters, numbers (0-9), and underscores
# * Case sensitive (Name and name are different)
#NOT ALLOWED ❌
# * Cannot start with a number 
# * Cannot take special character
# * Cannot be a reserved keyword (e.g class, diff, if)

In [15]:
x=10 #x here is a variable that stores the value 10
#10 here is an integer

In [4]:
x

10

## Strings /Object 
I used escape+2 to get heading 2

In [6]:
y="hello python" #hello python is a string/text/object means the same in python

In [7]:
y

'hello python'

In [17]:
z= 3.14 # 3.14 is a floating point

In [9]:
z

3.14

In [16]:
x + z

13.14

### Naming Convention 
case Styles in Python, python doesnt recognice (spaces in variable name)
(This is in-line documentation), writing comments inside a code
There are several techniques you can use to make them more readable:
Camel Case. Each word, except the first, starts with a capital letter: 
myVariableName = "John"
Pascal Case. Each word starts with a capital letter: 
MyVariableName = "John"

Snake Case. Each word is separated by an underscore character: 
My_Variable_Name = "John"

In [21]:
#Multiple Variable Assignment: this is assigning same value to different variables. e.g 
num1 = num2 = num3 = 100

In [22]:
num1 , num2, num3,

(100, 100, 100)

In [23]:
#DIFFERENT VALUES TO DIFF VARIABLES
x, y, z = 100, 200, 45

In [24]:
z

45

In [25]:
y

200

In [26]:
x

100

In [27]:
x, y, z

(100, 200, 45)

In [35]:
print (z) #this is print funtion which is a method is used to print a given message to 
#the screen or to display an object's value on the terminal

45

In [29]:
#Printing text 
print ("Hello! I am Feyi")
#However, you cannot use 3 aprostrophes in print fun e.g print('Hello I'm Feyi), 
#it will return syntax error, you either use double aprostophe ""

Hello! I am Feyi

In [30]:
print ("Hello I'm Feyi")

Hello I'm Feyi

In [11]:
print ('Feyi said, "I am a girl"')

Feyi said, "I am a girl"

In [32]:
# printing Number
#No need to enclose with aprostrophe e.g 
print (8065003567)

8065003567

In [15]:
#Printing Variables 
name = "Feyi"
age = 28

In [18]:
print (name, age, sep=',')

Feyi,28

In [19]:
print(name, age, sep='-')

Feyi-28

In [20]:
my_class = "python class"

In [38]:
print ('This is my first', my_class)

This is my first python class

####  Using Sep Parameter 
The sep parameter allows you to specify a string that will be used to separate the items being printed by the print() function. By default, the sep parameter is set to a single space character. which means that the items being printed will be separated by a single space e.g (,:, )

The sep parameter is used when you pass in more than one argument to print() like: print("some string", "some other string", sep=".

It is an optional parameter in the print() function and is used to separate different objects to be printed

In [ ]:
#print () has an argument, separator, end line, fileNone, flushFalse
# shift+tab can suggest a funtion, instance, keyword etc for you

In [39]:
print (name, age, sep=',')

Feyi,28

In [40]:
print (name, age, sep='---------')

Feyi---------28

In [41]:
#Using end Parameter : This defines what to put at the end of the line (default is /n).

In [27]:
print (name, end='\n')
print(age, end='\n')
print(my_class, end='\n')

Feyi
28
python class

##### Built in Data Types
a. Numbers  numeric data types e.g
integers:  (whole nos, it can be +ve or -neg, no d.p ) no limit on size (Python support arbitrary no)
floats :(nos with scientific notations 3.14, -0.001, 2.5e3
Complex no : nos with a real & imaginery no e.g 3+4j, -2.5+6.1j
Python supports complex no in the foarm a +bj a is the real part, b is the imagery part, the imagenary is represented by j in python not i
b. Strings / Text type / Object
c. [ List
d. Range
e. Turple] Squence
f.Dictionaries (Mapping)
g. Set (set and frozen set)
g. Other types

Casting is done to specify the data type of a variable using the type () function

In [43]:
x = 4

In [44]:
type (x) #type to check the data type of variable x

int

In [45]:
type(-20)

int

In [46]:
type (23456789)

int

In [47]:
type (2.)#the mere addition of point makes it a float

float

In [48]:
type (2+3j)

complex

###### Addition
Multipliction
Divition
Floor divition 10//3 whole part of a division
Modulous means the remainder of a division using %
Exponentiation : means a value in multiple places use **

10+3, 10-3, 10/2 , 10/3

In [49]:
10+3

13

In [50]:
10-3

7

In [51]:
 10/3

3.3333333333333335

In [52]:
#FLOOR DIVISION- means I need just the  Whole part of decimal no just by using //
10//3

3

In [53]:
25//6

4

In [54]:
#Modulous--- remainder 
10 % 3

1

In [55]:
11 % 3

2

In [56]:
10 % 2

0

In [57]:
#exponential  use **
2 ** 3 # 2 * 2 * 2

8

###### Buit-in Numeric Funtions 
1. abs (x) absoute value  abs -5 -----(+5)
2. round : rounding off to  a decimal place 
3. pow same as exponential
4. max maximum value of a variable

In [58]:
num = -15.7888906

In [59]:
abs (num)

15.7888906

In [60]:
round (num, 1)

-15.8

In [61]:
pow (2,3)

8

In [62]:
x = (2,3,4,5,6,7,8,9)

In [63]:
max (x) , min (x)

(9, 2)

In [64]:
# Type Conversion Between Numbers 
x = 3.13

In [65]:
int (x)

3

In [66]:
#String
name = "Feyi"

In [67]:
type (name)

str

In [68]:
greeting = "Hello world"

In [69]:
type (greeting)

str

In [70]:
sentence = '''Today is Wednesday, and
I'm happy just because it's almost weekend 
2 datys more to rest and party'''
#by using tripple quotes or tripple double quotes I can write more than one line in a variable

In [71]:
sentence

"Today is Wednesday, and\nI'm happy just because it's almost weekend \n2 datys more to rest and party"

###### String Indexing and Slicing
String Indexing : each character has an index starting from 0. 
Negatives index count from the end from -1,

In [73]:
text = 'Hello'

In [74]:
text [0]

'H'

In [75]:
text [-1]

'o'

In [78]:
#String Method
text = 'Hello dear, I love your eyE becAuse   It is KEEN to information'

In [79]:
text

'Hello dear, I love your eyE becAuse   It is KEEN to information'

In [80]:
text.lower () #to change to small letters

'hello dear, i love your eye because   it is keen to information'

In [81]:
text.upper ()

'HELLO DEAR, I LOVE YOUR EYE BECAUSE   IT IS KEEN TO INFORMATION'

In [82]:
#strip ---- to remove excess spaces
text.strip () #I lost internet here for about 12 minutes

'Hello dear, I love your eyE becAuse   It is KEEN to information'

######  String Concatenation (Joining Strings)
Only works for stings, you cant't mix data types. 
Use + to join strings 
Use.join() for joining multiple strings in a list.

In [29]:
name = "Feyi"
surname = "Ayeni"
name + surname

'FeyiAyeni'

In [30]:
print(name + ' ' + surname)

Feyi Ayeni

In [84]:
#to add space 
name + " " + surname

'Feyi Ayeni'

In [86]:
# String Repetition 
# use * to repeat a string multiple times 
name * 2

'FeyiFeyi'

In [100]:
name  +"  " * 3

'Feyi      '

In [92]:
#Replace Substrings 
text = "I love Mango" 
new_text = text.replace ('love', 'like')
new_text

'I like Mango'

In [106]:
#Splitting and Joining Strings 
words = text.split ()
text
#words is just a variable which can be anything to store the new splited var-text

'I love Mango'

In [107]:
words

['I', 'love', 'Mango']

In [95]:
# to bring it together , use join 
new_text = "-" .join(words)

In [108]:
new_text

'I-love-Mango'

###### Finding and Counting Substrings

In [109]:
text.find ('love')

2

In [110]:
text.find ('Mango')

7

In [111]:
text.count ('M')

1

In [114]:
#Checking String Properties 
name = "Feyi"
age = '25'
name.isdigit()

False

In [115]:
age.isdigit()

True

######  19/04/2025 LIST and TUPLES

######  14/04/2025   TUPLE IMMUTABILITY
A tuple cannot be changed once created, if you need to edit a tuple, you can convert the tuple to a list, make ur edit and convert back to list

In [41]:
Language = ('python', 'java', 'C++', 'R')

In [42]:
x = list (Language)

In [43]:
x

['python', 'java', 'C++', 'R']

In [44]:
x.append('Fortran') #NOTE NO SPACE BTW APPEND & Fortran
x

['python', 'java', 'C++', 'R', 'Fortran']

In [46]:
#connvert back to turple
Language = x tuple(x)

SyntaxError: invalid syntax (4178461174.py, line 2)

In [14]:
numbers = (1, 2, 2, 2, 3, 4, 4, 2, 6 )

In [15]:
numbers.count (2)

4

In [16]:
numbers.index(4)

5

In [9]:
#Tuple Packing: Means storing multiple values in a single tuple
profession = ('Engineer', 'Doctor', 'Teacher')

In [18]:
# Tuple unpacking 
x, y, z = profession

In [19]:
z

'Teacher'

######  SETS : 
Set is a collection of unique, unordered elements
1. No duplicate elements
2. unordered (no indexing, slicing like lisrs and tuples)
3. Mutable. Can be changed after creation 
4. uses curly brackes {} or set ()

In [20]:
fruits = {'apple', 'apple', 'banana', 'cherry'}

In [21]:
fruits #no repetition

{'apple', 'banana', 'cherry'}

In [ ]:
# Using the set constructor

In [23]:
x = {1, 2, 2, 3, 4, 5}

In [24]:
set (x)

{1, 2, 3, 4, 5}

In [ ]:
#Removing Element in a set      (remove, discard, pop)

In [25]:
fruits

{'apple', 'banana', 'cherry'}

In [28]:
fruits.remove ('apple') #.remove doesn't work for set compared to .discard and ,pop

KeyError: 'apple'

In [29]:
fruits.discard ('apple')

In [30]:
fruits

{'banana', 'cherry'}

In [31]:
fruits.pop ()

'banana'

######  Dictionaries 
it works just like our dictionary in sch. The word you are searching is at te left hand side called *key* which might have different meanings, the different meanings are called *values*. You store information with curly bracket.

In [32]:
student = {
    'name' : 'Feyi',
    'age':   25,
    'GPA' : 4.2
}

In [33]:
student

{'name': 'Feyi', 'age': 25, 'GPA': 4.2}

In [34]:
student.keys ()

dict_keys(['name', 'age', 'GPA'])

In [35]:
student.values()

dict_values(['Feyi', 25, 4.2])

In [61]:
student.items()

dict_items([('name', 'Feyi'), ('age', 25), ('GPA', 4.2)])

In [64]:
students = {
    'name' : ['Feyi', 'Sayo', 'Helen'],
    'age': [25, 23, 26],
    'GPA' : [4.2, 4.4, 4.5]
}

In [65]:
student.values()

dict_values(['Feyi', 25, 4.2])

In [63]:
student.values()

dict_values(['Feyi', 25, 4.2])

In [ ]:
import pandas as pd
df= pd.DataFrame (students)
df

In [66]:
students = {
    'name' : ['Feyi', 'Sayo', 'Helen'],
    'age': [25, 23, 26],
    'GPA' : [4.2, 4.4, 4.5]
}
#NOTE: put comma after eack key,

In [68]:
import pandas as pd
df= pd.DataFrame (students)
df

    name  age  GPA
0   Feyi   25  4.2
1   Sayo   23  4.4
2  Helen   26  4.5

###### String Comprehensions

###### PYTHON LOOPS
Loop is something you do repeatedly. 
While loop repeatedly execute a code block while the condition remain true until it is false. You have to be careful whhile using while loop so as not to run into infenite loop where you wont be able to end the command until you close jupiter notebook. 

How it is done, 
1. Initialization : initialize 
2. Test condition if true or false (Body Loop/ Terminate) as the case applies. 
3. Increament/ Decrease : very important , to avoid infinite loop. 
example of when loop is used is in factorize : e.g 5*4*3*2*1 .

In [1]:
#print a number 1 to 10
count = 1 # initialization
while count <= 10: # this is the condition
    print(f'counting my apple: {count}')
    count = count + 1 #increament

counting my apple: 1
counting my apple: 2
counting my apple: 3
counting my apple: 4
counting my apple: 5
counting my apple: 6
counting my apple: 7
counting my apple: 8
counting my apple: 9
counting my apple: 10

In [3]:
num = 0
while num <= 10:
    print(f'The square of {num} is = {num ** 2}')
    num = num + 1

The square of 0 is = 0
The square of 1 is = 1
The square of 2 is = 4
The square of 3 is = 9
The square of 4 is = 16
The square of 5 is = 25
The square of 6 is = 36
The square of 7 is = 49
The square of 8 is = 64
The square of 9 is = 81
The square of 10 is = 100

In [5]:
# factorial of a number
# 6! = 6*5*4*3*2*1
num = 5
result = 1 # initialize
while num >= 1:
    result = result * num
    num = num - 1
print(result)

120

In [2]:
# right angle
line = '*'
max_length = 10 
while len (line) <= max_length:
    print (line)
    line = line + '*'

*
**
***
****
*****
******
*******
********
*********
**********

In [3]:
line = '*'
max_length = 10 
while len (line) <= max_length:
    print (line)
    line = line +'*' 
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*